################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Toolkit-Master/LinQCode/obj
/Toolkit-Master/LinQCode/bin/Debug/net6.0
/Toolkit-Master/LinQCode/.vs/LinQCode
